.navbar {
    background-color: #001F3F;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF !important;
}

.navbar-nav .nav-link {
    font-size: 16px;
    color: #FFFFFF !important;
    margin-right: 15px;
    transition: color 0.3s ease;
}

    .navbar-nav .nav-link:hover {
        color: #FFD700 !important;
    }

.custom-navbar .dropdown-menu {
    background-color: #001f3f; 
}


.custom-navbar .dropdown-item {
    color: #ffffff;
}

   
    .custom-navbar .dropdown-item:hover {
        background-color: #00509e;
        color: #ffffff;
    }

.btn-custom-logout {
    background-color: #d01111; 
    border-color: #007BFF;
    color: #FFFFFF;
}
.btn-custom-logout:hover{
    background-color: #808080;
    color:white;
    
}


.d-flex .btn {
    font-size: 15px;
    font-weight: bold;
}
